<% @hobbies.each do |h| %>
  <h2><%= h.name %></h2>
  <p>詳細: <%= h.about %></p>
  <p>いいね: <%= h.goodNum %></p>
  <%= button_to "削除", { :action => :destroy, :id => h.id }, class:'btn btn-default' %>
<% end %>
