<header>
  <h2> 称号一覧 </h2>
  <h3> 挑戦しなければ、君たちの常識は変わらない </h3>
  <p> 頭おかしいクレイジーな人たちが集まる場所として機能することで、<br>
  自分にとって良い趣味を見つけたのに、<br>
  発信出来る場所がないと困っている人たちを助けたいと思いました。<br>
  いつだって私たちは自分の趣味を自信を持って伝えたい。<br>
  私たちはそんな人のためにこんな言葉を用意しました。<br>
  <h2><b> "Crazy of the Year"</h2></b>
  称号をたくさん取った人に与えられる言葉です。<br>
  ぜひ沢山の賞をとってくださいね。
  </p>
</header>

<body>
<% @titles.each do |t| %>
  <h2><%= t.name %></h2>
  <p>詳細: <%= t.about %></p>
  <%= button_to "削除", { :action => :destroy, :id => t.id }, class:'btn btn-default' %>
<% end %>
</body>


