// Place all the styles related to the hobbies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hobbies_title{
  color: #000099;
  margin: 0.8% 0 0.8% 0;
  font-size: 40px;
}
.all{
  //background-color: #ffd700;
}

.hobbies_titles{
  text-align: center;
}

.hobbies_search li{
  display: inline-block;
}



.hobbies_search{
  height: 50px;
  padding: 15px;
  text-align: center;
}


.hobbies_contents{
  padding:0.5% 1%;
  margin: 2% 0% 0 0%;
  height: 15%;
}
